nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logout-svg {
  width: 85px;
  height: auto;
  cursor: pointer;
  padding-right: 30px;
  padding-top: 70px;
}

#profile-svg {
  width: 85px;
  height: auto;
  cursor: pointer;
  padding-right: 30px;
  padding-top: 40px;
}

.navbar-logo {
  width: 120px;
  height: auto;
  cursor: pointer;
  padding-left: 60px;
  padding-top: 50px;
}

.logout-container {
  color: #fff;
}

#toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1055;
}

.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.6724;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#music-btn {
  background-color: transparent !important;
  border: none !important;
  position: fixed;
  bottom: 30px;
  left: 50px;
  z-index: 1000;
  cursor: pointer;
}

#music-btn img {
  width: 40px;
  height: auto;
}

@media (max-width: 768px) {
  .navbar-logo {
    display: none;
  }
  #logout-svg {
    width: 50px;
    padding-right: 0px;
    padding-top: 30px;
  }

  #profile-svg {
    width: 50px;
    padding-right: 0px;
    padding-top: 0px;
  }

  #music-btn {
    bottom: 10px;
    left: 10px;
    background-color: #007bff !important;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #music-btn img {
    width: 30px;
    height: auto;
  }
}
