@media (max-width: 600px) {
  :root{
    --card-height: 150px;
    --card-width: calc(var(--card-height) * (2 / 3));
  }
}

@media (min-width: 600px) {
  :root{
    --card-height: 200px;
    --card-width: calc(var(--card-height) * (2 / 3));
  }
}

.card-table {
  min-height: var(--card-height);
}

.card-table,
#deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: var(--card-height);
  gap: 10px;
}

.playing-card {
  width: var(--card-width);
  height: var(--card-height);
  display: block;
  justify-content: center;
  align-items: center;
}

.playing-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.playing-card:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
