{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div id="toast-container"></div>

<h1 class="title">Sans Coeur Online</h1>
<h1 class="text-center sub-title mt-5">Dashboard Administrateur</h1>
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header text-center">
            <h3 class="card-title mb-0">Liste des joueurs</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date d'inscription</th>
                            <th>Dernière connexion</th>
                            <th>MDP Update</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="players-list">
                        <tr>
                            <td colspan="5" class="text-center">Chargement des données...</td>
                        </tr>
                    </tbody>
                </table>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="input-group">
                                <input type="text" id="new-player-name" class="form-control" placeholder="Nom" />
                                <button id="add-player" class="btn btn-success input-group-append">
                                    <i class="bi bi-plus-circle"></i> Ajouter
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </div>
            <button id="refresh-players" class="btn btn-primary mt-3">
                <i class="bi bi-arrow-clockwise"></i> <span class="text-white">Rafraîchir</span>
            </button>
        </div>
    </div>

    <!-- Nouvelle section pour les parties -->
    <div class="card shadow-sm mt-5">
        <div class="card-header text-center">
            <h3 class="card-title mb-0">Parties en cours</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Joueurs</th>
                            <th>Score</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="games-list">
                        <tr>
                            <td colspan="5" class="text-center">Chargement des parties...</td>
                        </tr>
                    </tbody>
                </table>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <button id="add-game" class="btn btn-success" onclick="window.newGame()">
                                <i class="bi bi-plus-circle"></i> Créer une nouvelle partie
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </div>
            <button id="refresh-games" class="btn btn-primary mt-3" onclick="window.fetchGamesList()">
                <i class="bi bi-arrow-clockwise"></i> <span class="text-white">Rafraîchir la liste des parties</span>
            </button>
        </div>
    </div>

    <!-- Nouvelle section pour les connexions -->
    <div class="card shadow-sm mt-5">
        <div class="card-header text-center">
            <h3 class="card-title mb-0">Connexions WebSocket</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th>Namespace</th>
                        <th>Utilisateur</th>
                        <th>SID Socket.io</th>
                        <th>EIO Socket.io</th>
                        <th>Statut</th>
                        <th>IP</th>
                        <th>User Agent</th>
                        <th>Rooms</th>
                      </tr>
                    </thead>
                    <tbody id="connections-list">
                      <!-- Les données seront insérées ici via JavaScript -->
                    </tbody>
                </table>
            </div>
            <button id="refresh-connections" class="btn btn-primary mt-3" onclick="window.fetchConnectionsList()">
                <i class="bi bi-arrow-clockwise"></i> <span class="text-white">Rafraîchir la liste des connexions</span>
            </button>
        </div>
    </div>

    <!-- Modal pour modifier les scores -->
    <div class="modal fade" id="modifyScoreModal" tabindex="-1" aria-labelledby="modifyScoreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyScoreModalLabel">Modifier le score</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="modalGameId">
                    <div class="mb-3">
                        <label for="scoreTeam0" class="form-label">Score Équipe 0</label>
                        <input type="number" class="form-control" id="scoreTeam0">
                    </div>
                    <div class="mb-3">
                        <label for="scoreTeam1" class="form-label">Score Équipe 1</label>
                        <input type="number" class="form-control" id="scoreTeam1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="saveScoreChanges">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script type="module" src="{{ url_for('static', filename='js/admin/dashboard.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/toaster.js') }}"></script>
{% endblock %}
