<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sans Cœur Online{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/sco_logo.png') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <iframe id="music-frame" src="{{ url_for('sound') }}" style="display: none"></iframe>

    <nav class="navbar">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/sco_logo.png') }}" alt="" class="navbar-logo" />
      </a>
      {% if current_user.is_authenticated %}
      <div>
        <a href="{{ url_for('profile') }}" id="profile-link">
          <svg
            id="profile-svg"
            style="enable-background: new 0 0 44 44"
            version="1.1"
            viewBox="0 0 44 44"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="22" cy="14" r="8" class="st1" />
            <path class="st1" d="M22,26c-8,0-14,6-14,14h28C36,32,30,26,22,26z" />
          </svg>
        </a>
        <a href="{{ url_for('logout') }}" id="logout-link">
          <svg
            id="logout-svg"
            style="enable-background: new 0 0 44 44"
            version="1.1"
            viewBox="0 0 44 44"
            xmlns="http://www.w3.org/2000/svg"
            >
            <g>
              <line class="st1" x1="7.6" x2="22" y1="12" y2="12" />
              <path class="st1" d="M11.9,0.8H4.5C3.1,0.8,2,1.9,2,3.2v17.5c0,1.4,1.1,2.5,2.5,2.5h7.4" />
              <polyline class="st1" points="18.2,8.2 22,12 18.2,15.8" />
            </g>
          </svg>
        </a>
      </div>
      {% endif %}
    </nav>

    <button id="music-btn" class="btn btn-primary">
      <img
        id="music-img"
        src="{{ url_for('static', filename='img/no-volume.png') }}"
        alt="Toggle volume"
      />
    </button>

    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Containers toasts -->
    <div id="toast-container" aria-live="polite" aria-atomic="true">
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div
        class="toast align-items-center text-bg-{{ category }} border-0 mb-2"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">{{ message }}</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      {% endfor %}
    </div>

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      window.addEventListener("load", () => {
        document.querySelectorAll(".toast").forEach((toastNode) => {
          new bootstrap.Toast(toastNode, { delay: 2000 }).show();
        });
      });

      // Bouton pour faire toggle play/pause de la musique
      document.addEventListener("DOMContentLoaded", () => {
        const musicImg = document.getElementById("music-img");
        const musicBtn = document.getElementById("music-btn");
        const musicFrame = document.getElementById("music-frame");

        const isPlaying = localStorage.getItem("isPlaying") === "true";
        musicImg.src = isPlaying ? "/static/img/volume.png" : "/static/img/no-volume.png";

        let clickTimer = null;
        const delay = 250;

        musicBtn.addEventListener("click", () => {
          if (clickTimer === null) {
            clickTimer = setTimeout(() => {
              if (musicFrame.contentWindow) {
                const audio = musicFrame.contentWindow.document.getElementById("background-music");
                if (audio) {
                  if (audio.paused) {
                    audio
                      .play()
                      .then(() => {
                        musicImg.src = "/static/img/volume.png";
                        localStorage.setItem("isPlaying", "true");
                      })
                      .catch((err) => {
                        console.error("Erreur lors du lancement de la musique", err);
                      });
                  } else {
                    audio.pause();
                    musicImg.src = "/static/img/no-volume.png";
                    localStorage.setItem("isPlaying", "false");
                  }
                }
              }
              clickTimer = null;
            }, delay);
          } else {
            clearTimeout(clickTimer);
            clickTimer = null;
            if (
              musicFrame.contentWindow &&
              typeof musicFrame.contentWindow.skipTrack === "function"
            ) {
              musicFrame.contentWindow.skipTrack();
            }
          }
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
