<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="{{ config['MANIFEST_PUBLIC_PATH']}}?v={{ config['VERSION'] }}" />
    <meta name="theme-color" content="#0f7c21">
    <!-- For iOS -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/sco_logo_500.png') }}">

    <title>{% block title %}Sans Cœur Online{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/sco_logo.png') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <iframe id="music-frame" src="{{ url_for('sound') }}" style="display: none"></iframe>

    <nav class="navbar mb-3 mb-md-0">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/sco_logo.png') }}" alt="" class="navbar-logo" />
      </a>
      {% if current_user.is_authenticated %}
      <div>
        {% if current_user.is_admin %}
          <a href="{{ url_for('admin') }}" id="admin-link">
            <i class="bi bi-shield-shaded" id="admin-svg"></i>
          </a>
        {% endif %}
        <a href="{{ url_for('index') }}" id="home-link">
          <i class="bi bi-house" id="home-svg"></i>
        </a>
        <a href="{{ url_for('profile') }}" id="profile-link">
          <i class="bi bi-person-circle" id="profile-svg"></i>
        </a>
        <a href="{{ url_for('logout') }}" id="logout-link">
          <i class="bi bi-box-arrow-right" id="logout-svg"></i>
        </a>
      </div>
      {% endif %}
    </nav>

    <button id="music-btn" class="btn btn-primary">
      <img
        id="music-img"
        src="{{ url_for('static', filename='img/no-volume.png') }}"
        alt="Toggle volume"
      />
    </button>

    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Containers toasts -->
    <div id="toast-container" aria-live="polite" aria-atomic="true">
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div
        class="toast align-items-center text-bg-{{ category }} border-0 mb-2"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">{{ message }}</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      {% endfor %}
    </div>

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>

      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('static/js/worker/service-worker.js');

        navigator.serviceWorker.getRegistration().then(registration => {
            if (registration) {
                registration.update();
            }
        });
      }

      if ('serviceWorker' in navigator && 'PushManager' in window) {
        console.log('Push is supported!');
      }

      window.addEventListener("load", () => {
        document.querySelectorAll(".toast").forEach((toastNode) => {
          new bootstrap.Toast(toastNode, { delay: 2000 }).show();
        });
      });

      // Bouton pour faire toggle play/pause de la musique
      document.addEventListener("DOMContentLoaded", () => {
        const musicImg = document.getElementById("music-img");
        const musicBtn = document.getElementById("music-btn");
        const musicFrame = document.getElementById("music-frame");

        const isPlaying = localStorage.getItem("isPlaying") === "true";
        musicImg.src = isPlaying ? "/static/img/volume.png" : "/static/img/no-volume.png";

        let clickTimer = null;
        const delay = 250;

        musicBtn.addEventListener("click", () => {
          if (clickTimer === null) {
            clickTimer = setTimeout(() => {
              if (musicFrame.contentWindow) {
                const audio = musicFrame.contentWindow.document.getElementById("background-music");
                if (audio) {
                  if (audio.paused) {
                    audio
                      .play()
                      .then(() => {
                        musicImg.src = "/static/img/volume.png";
                        localStorage.setItem("isPlaying", "true");
                      })
                      .catch((err) => {
                        console.error("Erreur lors du lancement de la musique", err);
                      });
                  } else {
                    audio.pause();
                    musicImg.src = "/static/img/no-volume.png";
                    localStorage.setItem("isPlaying", "false");
                  }
                }
              }
              clickTimer = null;
            }, delay);
          } else {
            clearTimeout(clickTimer);
            clickTimer = null;
            if (
              musicFrame.contentWindow &&
              typeof musicFrame.contentWindow.skipTrack === "function"
            ) {
              musicFrame.contentWindow.skipTrack();
            }
          }
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
