<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sans Cœur Online{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/sco_logo.png') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    {% block head %}{% endblock %}
  
  </head>
  <body>
    <div id="bg-wrapper">
      <canvas id="my-canvas"></canvas>
    </div>

    <iframe id="music-frame" src="{{ url_for('sound') }}" style="display: none"></iframe>

    <nav class="navbar">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/sco_logo.png') }}" alt="" class="navbar-logo" />
      </a>
      {% if current_user.is_authenticated %}
      <svg
        id="logout-svg"
        style="enable-background: new 0 0 44 44"
        version="1.1"
        viewBox="0 0 44 44"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g>
          <line class="st1" x1="7.6" x2="22" y1="12" y2="12" />
          <path class="st1" d="M11.9,0.8H4.5C3.1,0.8,2,1.9,2,3.2v17.5c0,1.4,1.1,2.5,2.5,2.5h7.4" />
          <polyline class="st1" points="18.2,8.2 22,12 18.2,15.8" />
        </g>
      </svg>
      {% endif %}
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Containers toasts -->
    <div id="toast-container" aria-live="polite" aria-atomic="true">
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div
        class="toast align-items-center text-bg-{{ category }} border-0 mb-2"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">{{ message }}</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      {% endfor %}
    </div>

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Inclusion de Three.js et dat.GUI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r120/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
    <script>
      window.addEventListener("load", () => {
        document.querySelectorAll(".toast").forEach((toastNode) => {
          new bootstrap.Toast(toastNode, { delay: 2000 }).show();
        });
      });

      // Déconnexion
      document.addEventListener("DOMContentLoaded", () => {
        const logoutSvg = document.getElementById("logout-svg");
        if (logoutSvg) {
          logoutSvg.addEventListener("click", () => {
            window.location.href = "{{ url_for('logout') }}";
          });
        }
      });
    </script>
    <!-- Shaders -->

    <script id="vertex" type="x-shader/x-vertex">
            uniform float u_time;
            uniform sampler2D u_texture;
            uniform vec2 u_pixels;
            uniform int u_distortion;
            uniform float u_strength;
            uniform float u_speed;

            varying vec2 v_uv;
            varying vec4 v_position;
            varying float v_progress;

            void main(){
                v_uv = uv;
                float distance = length(v_uv - vec2(0.5));
                float maxDistance = length(vec2(0.5));
                float normalizedDistance = distance / maxDistance;
                vec3 pos = position;
      switch (u_distortion) {
                    case 0:
                        // static
                        pos.z = 0.0 *  sin( normalizedDistance * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 1:
                        // center Blow In
                        pos.z = 0.2 *  sin( normalizedDistance * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 2:
                        // center Blow Out
                        pos.z = 0.2 *  sin( -normalizedDistance * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 3:
                        // flow Left
                        pos.z = 0.2 * sin( pos.x  * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 4:
                        // Flow Right
                        pos.z = 0.2 *  sin( -pos.x * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 5:
                        // Flow down
                        pos.z = 0.2 *  sin( pos.y  * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 6:
                        // Flow Up
                        pos.z = 0.2 *  sin( -pos.y  * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 7:
                        // center Blow + flow left
                        pos.z = 0.2 *  sin( pos.x  * normalizedDistance * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 8:
                        // center Blow + flow right
                        pos.z = 0.2 *  sin( -pos.x  * normalizedDistance * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 9:
                        // center Blow + flow down
                        pos.z = 0.2 *  sin( pos.y  * normalizedDistance * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 10:
                        // center Blow + flow up
                        pos.z = 0.2 *  sin( -pos.y  * normalizedDistance * u_strength + 1.0 * u_time * u_speed) * 0.2;
                        break;
                    case 11:
                        // Vague diagonale du haut gauche vers le bas droit
                        pos.z = 0.2 * sin((pos.x + pos.y) * u_strength + u_time * u_speed) * 0.2;
                        break;
                }
                gl_Position = projectionMatrix * modelViewMatrix * vec4(pos, 1.0);
            }
    </script>
    <script id="fragment" type="x-shader/x-fragment">
      uniform float u_time;
      uniform vec4 u_resolution;
      uniform float u_progress;
      uniform sampler2D u_texture;

      varying vec2 v_uv;
      varying vec4 v_position;

      void main(){
          gl_FragColor = texture2D(u_texture, v_uv);
      }
    </script>
    <script src="{{ url_for('static', filename='js/components/bg-animation.js') }}"></script>
    {% endblock %}
  </body>
</html>
