{% extends "base.html" %} {% block title %}Sans Cœur Online{% endblock %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/score.css') }}" />
{% endblock %}

{% block content %}
<div class="container mt-5" id="dashboard">
  <h1 class="text-center">Bienvenue, <span id="username">{{ username }}</span> !</h1>
  <!-- Tableau aligné avec des cases -->
  <div class="row mt-4">
    <!-- Case pour rejoindre une partie -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h5>Rejoindre une partie</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="team" class="form-label">Sélectionner une équipe :</label>
              <select id="team" class="form-select">
                <option value="0">Team 0</option>
                <option value="1">Team 1</option>
              </select>
            </div>
            <button type="button" id="joinBtn" class="btn btn-primary">Rejoindre la partie</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Informations de la partie -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h5>Informations de la partie</h5>
        </div>
        <div class="card-body">{% include "components/gameInfo.html" %}</div>
      </div>
    </div>

    <!-- Round actuel -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h5>Round actuel</h5>
        </div>
        <div class="card-body">{% include "components/roundInfo.html" %}</div>
      </div>
    </div>
  </div>

  <!-- Cartes jouée(s) -->
  <div class="row mt-5">
      <!-- Case pour les cartes du jeu -->
    <div class="col-md-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Cartes jouée(s)</h5>
        </div>
        <div class="card-body card-table" id="cardTable"></div>
      </div>
    </div>
  </div>

  <!-- Vos cartes -->
  <div class="row mt-5">
      <!-- Case pour les cartes du jeu -->
    <div class="col-md-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Vos cartes</h5>
        </div>
          <!-- Section du deck -->
        <div id="deck" class="card-body deck">
          <p>Votre deck apparaîtra ici...</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script
  type="module"
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/components/gameInfo.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/components/roundInfo.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/components/deck.js') }}"></script>
{% endblock %}
