<!DOCTYPE html>
<html>
<head>
    <title>Sans Coeur</title>
</head>
<body>
    <h1>Bienvenue, <span id="username">{{ username }}</span> !</h1>
    <div id="gameSection">
        <h2>Rejoindre une partie</h2>
        <label for="team">Team :</label>
        <select id="team">
            <option value="0">Team 0</option>
            <option value="1">Team 1</option>
        </select>
        <button id="joinBtn">Rejoindre la partie</button>
    </div>

    <h2>Informations de la partie</h2>
    <div id="gameInfo" style="margin-top: 20px;">
        <p>En attente des informations...</p>
    </div>
    <div id="roundInfo" style="margin-top: 20px;">
        <p>En attente des informations...</p>
    </div>
    <div id="cardTable" style="margin-top: 20px;">

    </div>

    <!-- Bouton pour lancer la partie -->
    <div id="startGameSection" style="display: none; margin-top: 20px;">
        <button id="startGameBtn">Lancer la partie</button>
    </div>
    <div id="deck" style="margin-top: 20px;">
        <p>Votre deck apparaîtra ici...</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <style>
        .card {
            display: inline-block;
            border: 1px solid #000;
            padding: 10px;
            margin: 5px;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
    </style>
</body>
</html>