{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

{% endblock %} {% block content %}
<h1 class="title">Sans Cœur Online</h1>

<div class="login">
  <form method="POST" action="{{ url_for('login') }}" class="login-form">
    <h1 class="login-title">Connexion</h1>
    <div class="login-inputs">
      <div class="login-box">
        <input
          type="text"
          placeholder="Nom d'utilisateur"
          name="username"
          required
          class="login-input"
        />
        <i class="ri-user-fill"></i>
      </div>
      <div class="login-box">
        <input
          type="password"
          placeholder="Mot de passe"
          name="password"
          required
          class="login-input"
        />
        <i class="ri-lock-2-fill"></i>
      </div>
    </div>
    <div class="login-check">
      <div class="login-check-box">
        <input type="checkbox" id="remember-me" name="remember" class="login-check-input" />
        <label for="remember-me">Se souvenir de moi</label>
      </div>
      <a href="#" class="login-forgot">Mot de passe oublié ?</a>
    </div>
    <button type="submit" class="login-button">Se connecter</button>
    <div class="login-register">Vous n'avez pas de compte ? <a href="#">S'inscrire</a></div>
  </form>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const forgotLink = document.querySelector(".login-forgot");
    forgotLink.addEventListener("click", function (e) {
      e.preventDefault();
      const toastContainer = document.getElementById("toast-container");
      const toast = document.createElement("div");
      toast.className = "toast align-items-center text-bg-info border-0 mb-2";
      toast.setAttribute("role", "alert");
      toast.setAttribute("aria-live", "assertive");
      toast.setAttribute("aria-atomic", "true");
      toast.innerHTML = `
          <div class="d-flex">
            <div class="toast-body">CHEHHHHH</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        `;
      toastContainer.appendChild(toast);
      const bsToast = new bootstrap.Toast(toast, { delay: 3000 });
      bsToast.show();
      toast.addEventListener("hidden.bs.toast", function () {
        toast.remove();
      });
    });
  });
</script>
{% endblock %}
