<div id="gameStatusInfo">
  <p style="color: gray; font-style: italic">En attente des informations...</p>
</div>

<div class="teams">
  <div class="sides">
    <div class="side left-side"></div>
    <div class="versus">
      <span>VS</span>
    </div>
    <div class="side right-side"></div>
  </div>
</div>

<div id="scoreInfo"></div>

<div id="scoreTable"></div>

<div id="lastGameInfo"></div>

<hr style="margin: 5% 20% 5% 20%" />

<div id="startGameSection" class="container mt-4 d-none flex-column">
  <div class="row">
    <div class="col-md-6">
      <label for="startGameMaxPoint">Points pour gagner :</label>
      <input type="number" value="1500" id="startGameMaxPointInput" style="max-width: 100%" />
    </div>
    <div class="col-md-6">
      <button id="startGameBtn" class="btn btn-success mt-3">Lancer la partie</button>
    </div>
  </div>
</div>

<div id="quitGameSection" class="row justify-content-center d-flex">
  <button id="quitGameBtn" class="btn btn-danger mt-3" style="width: 50%">Quitter la partie</button>
  <button id="inviteGameBtn" class="btn btn-success mt-3" style="width: 50%">Inviter d'autres joueurs</button>
</div>
