<div id="roundInfo">
    <p>En attente des informations...</p>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <button id="color-1" class="btn btn-light">Piques</button>
        </div>
        <div class="col">
            <button id="color-2" class="btn btn-light">Coeur</button>
        </div>
        <div class="col">
            <button id="color-3" class="btn btn-light">Carreau</button>
        </div>
        <div class="col">
            <button id="color-4" class="btn btn-light">Trèfle</button>
        </div>
    </div>
</div>